html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block;
  background-color: #f0eee8;
}

.link-card {
  display: inline-block;
  background-color: #dcd4cd;
  border-style: solid;
  border-color: #9a816d;
  border-radius: 3px;
}

.link-card p {
  color: #512200;
  display: inline-block;
  font-family: Georgia, serif;
  padding: 0 .75em;
  font-size: 1rem;
  margin: 0;
}

.link-card h2 {
  color: #512200;
  display: block;
  font-family: Dosis, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding: .4em .5em;
  margin: 0;
  text-decoration: none;
}

.list {
  display: block;
  border-top: solid;
  border-bottom: solid;
  border-width: 2px;
  margin: 1rem;
  border-color: #9a816d;
}

.science {
  display: inline-block;
  font-family: Georgia, serif;
  font-size: .875rem;
  color: #512200;
  padding-top: .1em;
  padding-bottom: .1em;
}

.science dt {
  display: inline-block;
  margin: 0;
  width: 40%;
}

.science dd {
  display: inline-block;
  font-style: italic;
}

.btn {
  align-content: center;
  margin: 1rem;
  text-align: center;
}

.btn p {
  background-color: #785439;
  color: #fff;
  border-radius: 8px;
  font-size: 1.125rem;
  padding: .4em .75em .6em;
  font-family: Dosis, sans-serif;
  font-weight: bold;
}

.link-card:hover {
  background-color: #cabdb2;
  border-color: #785439;
}

.link-card:hover .btn p {
  background-color: #512200;
}
